[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = {ref = "master", git = "https://github.com/TwitchIO/TwitchIO.git"}
colorlog = "*"
pygame = {path = "./pygame-1.9.6-cp39-cp39-win_amd64.whl"}
pywin32 = {path = "./pywin32-228-cp39-cp39-win_amd64.whl"}
requests-oauthlib = "*"
websocket-client = "*"
pywinauto = "*"
obs-websocket-py = "*"
py-dateutil = "*"
python-dotenv = "*"
python-engineio = "==3.14.2"
python-socketio = "==4.6.1"
pytils = "*"
uvicorn = "*"
aiohttp = "*"
chardet = "*"
multidict = "*"
comtypes = "==1.1.7"
pika = "*"
eyed3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
