[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twitchio = "*"
requests-oauthlib = "*"
python-vlc = "*"
simplejson = "*"
websocket-client = "*"
pywin32 = {path = "./pywin32-228-cp39-cp39-win_amd64.whl"}
pywinauto = "*"
obs-websocket-py = "*"
py-dateutil = "*"
pygame = "*"
discord-py = "*"
python-dotenv = "*"
python-socketio = "*"
colorlog = "*"
pytils = "*"
watchdog = "*"
uvicorn = "*"
aiohttp = "==3.7.3"
chardet = "==4.0.0"
multidict = "==5.1.0"
yarl = "==1.6.3"

[requires]
python_version = "3.9"
